@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap');
$width-xs : 576px ;
$width-md : 768px ;
$width-lg : 992px ;
$width-xl : 1200px ;
.form-SignIn{
    display: flex;
    flex-direction: column;
    .button-sign{
        margin-top: 30px;
    }
    
}
.page-sign{
    background: rgb(140,89,192);
    background: linear-gradient(90deg, rgba(140,89,192,1) 0%, rgba(78,90,200,1) 95%);
    width: 100vw;
    height: 100vh;
    position: relative;
    
    .Log-up{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 60%;
        background-color: white;
        padding: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        border-radius: 10px;
        @media screen and (max-width : $width-xl){
            width: 80%;
            height: 60%;
            padding: 50px;
            
        }
        .Log-in-title{
            text-align: center;
            margin-bottom: 50px;
            font-family: 'Roboto Slab', serif;

        }
}
}